body {
    margin: 0;
    padding: 0;
    min-width: 1440px;
    font-family: "Montserrat", "Arial", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 32px;
    color: #333333;
}

.visually-hidden {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0;
    border: 0;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

html,
body {
    min-width: 1440px;
    min-height: 4777px;
}

body {
    /*Временно для сетки */
    background-image: url('https://assets.htmlacademy.ru/content/skills/6/case-02/index.jpg');
    background-size: 1440px auto;
    background-repeat: no-repeat;
    background-position: top center;
}

.container {
    width: 1380px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

.page {
    display: grid;
    grid-template-rows: 
    auto
    1fr
    auto;
    grid-template-areas: 
    "header"
    "content"
    "footer";
    min-height: 100vh;
}

.page-header {
    grid-area: header;
    
    /*Временно для сетки*/
    min-height: 80px;
}

.page-content {
    grid-area: content;
}

.page-footer {
    grid-area: footer;
    
    /*Временно для сетки*/
    min-height: 100px;
}

.page-nav {
    display: grid;
    grid-template-columns: auto 1 fr auto auto;
    grid-column-gap: 65px;
}

.logo-container {
    padding: 20px 110px 20px 0;
    text-align: center;

    /*Временно для сетки*/
    min-height: 30px;
    min-width: 97px;
}

.search-container {
    padding: 25px 0 23px;

    /*Временно для сетки*/
    min-height: 16px;
    min-width: 16px;
}

.user-nav {
    padding: 25px 0 23px;

    /*Временно для сетки*/
    min-height: 20px;
    min-width: 188px;
}

.site-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.site-nav-item {
    padding-right: 65px;

    /*Временно для сетки*/
    min-height: 32px;
    min-width: 135px;
}

.site-nav-item:last-child {
    padding-right: 0;
}